.CheckoutSummary {
  text-align: center;
  width: 80%;
  margin: auto;
}

.CheckoutSummaryButtons {
  text-align: center;
  margin-top: 10%;
}

.BurgerCheckoutSummaryWrapper {
  width: 100%;
  height: 300px;
  margin: auto;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .BurgerCheckoutSummaryWrapper {
    height: 172px;
  }
}
