body, .text-slanted {
  font-family: 'Atma', cursive;
}

hr {
  width: 80%;
  background-color:goldenrod;
  height: 4px;
  border-radius:4px;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  width: 200px;
  list-style-type:none;
  border: 1px solid gray;
  padding: 5px;
}